
body {
    background-image: url("task3img2.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
    align-items: center;
    font-size: large;
    height: 100vh;
    background-color: rgb(244, 244, 244);
}
.container{
    margin-left: 400px;
    margin-right: 400px;
    /* background: rgb(0, 213, 255); */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.inp{
    background-color: rgba(38, 35, 35, 0.537);
    color: black;
    height: 50px;
    width: 400px;
    border-radius: 5px;
   
}
.inp:hover{
    background-color: rgba(245, 245, 245, 0.881);
}
.button{
        height: 45px;
        width: 60px;
        background: rgb(19, 30, 19);
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
}
.deletebtn{
    border: none;
    border-radius: 5px;
    width: 30px;
    background-color:rgba(38, 35, 35, 0.537);

}
.deletebtn:hover{
    background-color: rgba(245, 245, 245, 0.881);
    border-radius: 5px;
}
li{

    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: larger;
   
    
}
h1{
    font-family: sans-serif;
    font-weight: bold;
}


